  <div class="navigation-trigger" data-sa-action="aside-open" data-sa-target=".sidebar">
    <i class="zmdi zmdi-menu"></i>
  </div>

  <div class="logo hidden-sm-down">
    <h1>
      <%= link_to('Jonathan Admin',  backoffice_cars_path, class: 'dropdown-item')%>
    </h1>
  </div>

  <form class="search">

  </form>

  <div class="clock hidden-md-down">
    <div class="time">
      <span class="time__hours"></span>
      <span class="time__min"></span>
      <span class="time__sec"></span>
    </div>
  </div>
