<!DOCTYPE html>
<html>
  <head>
    <title>Admin Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-sa-theme="1">
    <%= yield %>
  </body>

</html>
